<style>
	body {
		  background-color: #E3E4E8;
		  background-image: -webkit-linear-gradient(#E3E4E8, #787FA8);
		  padding: 50px;
		  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
	  color: #FFFDF9;
	}

	.page-header h1 {
		padding: 0.2em;
		font-size: 3em;
	    text-align: center;
		color: #061254;
		padding-left: 1em;
		margin-left: 50px;
	}

	.list ul {
		line-spacing: 2;
	}

	.list li {
		list-style: none;
		font-size: 1.5em;
	}

	.dummy {
		text-decoration: none;
	}

	.dummy:visited {
		color: #FFFDF9;
	}
</style>

<h1>Welcome to {{title}}</h1>

<p>Available Channels: 
	<ul>
	{{#each list}}	
		<li> {{ this }} </li>
	{{/each}}
	</ul>
</p>
