<style>
	body {
	  background-color: #E3E4E8;
	  background-image: -webkit-linear-gradient(#E3E4E8, #787FA8);
	  padding: 50px;
	  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
	  color: #FFFDF9;
	}

	.page-header h1 {
		padding: 0.2em;
		font-size: 3em;
	    text-align: center;
		color: #061254;
		padding-left: 1em;
		margin-left: 50px;
	}

	.list ul {
		line-spacing: 2;
	}

	.list li {
		list-style: none;
		font-size: 1.5em;
	}

	.dummy {
		text-decoration: none;
	}

	.dummy:visited {
		color: #FFFDF9;
	}

</style>

<div class="page-header">
	
	<h1>Welcome to AutoSlacker!</h1>

</div> 

<div class="list">
	<ul class="feature-list">

		<li class="feature">
			<a href='../invite' class='dummy'>Request an invite</a>
		</li>

		<li class="feature">
			<a href='../message' class='dummy'>Post a bot message</a>
		</li>

		<li class="feature">
			<a href='../list' class='dummy'>See all available channels</a>
		</li>

	</ul>
</div>
