<style>
	body {
	  background-color: #1E272A;
	  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f0/Hunter_tartan.gif);
	  padding: 50px;
	  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	}

	a {
	  color: #FFFDF9;
	}

	.container {
		position: absolute;
		left: 300px;
		margin-right: auto;
		margin-left: auto;
		top: 5em; 
		text-align: center;
		width: 400px;
		height: 150px;
		border-radius: 10px 10px 10px 10px;
		border: 3px solid #FFDD1A;
		z-index: 100;
	}


	.bg-bar {
		height: 8000px;
		width: 1000px;
		position: relative;
		left: 50%;
		margin: -100px 0 0 -500px;
	}

	.glass {
		position:absolute;
		z-index: 50;
		background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f0/Hunter_tartan.gif);
		-webkit-filter: blur(5px);position: relative;
		margin-right: auto;
		margin-left: auto;
		top: 5em; 
		text-align: center;
		width: 400px;
		height: 150px;
		border-radius: 10px 10px 10px 10px;
	}


	.page-header h1 {
		padding: 0.2em;
		font-size: 3em;
	    text-align: center;
		color: #061254;
		padding-left: 1em;
		margin-left: 50px;
	}

	.list ul {
		top: -10px;
		margin-right: 20px;
		line-spacing: 2;
		text-align: center;
		right: 20px;
	}

	.list li {
		list-style: none;
		font-size: 1.5em;
	}

	.dummy {
		text-decoration: none;
	}

	.dummy:visited {
		color: #FFFDF9;
	}

</style>


<div class ='bg-bar' id='sb-left'>

	<div class='container'>
			
			<h1 class='header'>Welcome to AutoSlacker!</h1>

		<div class="list">
			<ul class="feature-list">

				<li class="feature">
					<a href='../invite' class='dummy'>Request an invite</a>
				</li>

				<li class="feature">
					<a href='../message' class='dummy'>Post a bot message</a>
				</li>

				<li class="feature">
					<a href='../list' class='dummy'>See all available channels</a>
				</li>

			</ul>
		</div>

	</div>

	<div class='glass'>

	</div>

</div>



