<style>
/* General styles */
#id {
	position: relative;
}

a {
	text-decoration: none;
	color: #B591EE;
}

a:hover {
	color: #F2EBFD;
}

a:visited {
	text-decoration: none;
	color: #6E6183;
}

a:visited:hover {
	color: #F2EBFD;
}


/*Navigation styling */

.nav {
	width: 100%;
	position: fixed;
	top: -16px;
	left: 0px;
	z-index: 1000;
}

.nav-bar {
	height: 50px;
	background-color: #09070D;
}

.nav-list li{
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}

/*Jumbotron*/

.jumbotron {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background-color: red;
}

.title {
	height: 50px;
	width: 50px;
	position: absolute;
	background-color: white;
}

.container {
	display: table;
	border-collapse: collapse;
	height: 100%;
}
.footer {
	display: table-row;
	vertical-align: bottom;
	height: 1px;
}


</style>

<div id='main'>
	<div class='nav'>
		<div class='nav-bar'>
			<div class='flex-box'>
				<ul class='nav-list'>
					<li>
						<a href="../list">Available Channels</a>
					</li>
					<li>
						<a href="../message">Post a bot message</a>
					</li>
					<li>
						<a href="../invite">Request an invite</a>
					</li>
					<li>
						<a href="../test1">Test</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class='jumbotron'>
		<div class='title'>
			<h1>AutoSlacker</h1>
		</div>
	</div>

	<div class='container'>
		<div class='footer'>
			<div class='contact'>
				<ul>
					<li>
						<a href="twitter.com/donsignor">
							<div id='twitter'>
							</div>
						</a>
					</li>
					<li>
						<a href="linkedin.com/in/harrisonccole">
							<div id='linkedin'>
							</div>
						</a>
					</li>
					<li>
						<a href="mailto:harrisonccole@gmail.com">
							<div id='email'>
							</div>
						</a>
					</li>
					<li>
						<a href="github.com/svoig">
							<div id='github'>
							</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>